*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}
body{
    width: 100%;
    background-color: #EFF2F5;
}
form{
    background-color: white;
    position: absolute;
    width: 370px;
    height: 320px;
    padding: 10px 5px 20px 5px;
    margin-top: 130px;
    margin-left: 830px;
    border-radius: 5px;
    box-shadow: 5px 5px 6px -7px;
}
input[type='text'], input[type='password']{
    display: block;
    background-color: #fff;
    margin: auto;
    border: 1.5px solid rgb(224,228,225);
    width: 330px;
    height: 29px;
    padding: 10px 12px;
    border-radius: 5px;
    /* text-align: center; */
    color: #90949C;
    /* font-family: 'Segoe UI'; */
    font-size: 16px;
}
input[type='text']{
    margin-top: 10px;
}
button{
    border: none;
    display: block;
    width: 353px;
    height: 45px;
    /* padding: 10px 12px; */
    border-radius: 5px;
    margin: auto;
    color: #fff;
    background-color: #1877f2;
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;   /*brings pointer when hover over the button */
}
.fp{
    margin: 115px;
    color: #1877f2;
    font-weight: 500;
    font-family: "Segoe UI";
    font-size: 15px;
    font-weight: bold;
}
.line{
    height: 1px;
    background-color: #DADDE1;
    margin-left: 15px;
    margin-top: 15px;
    width: 340px;
}
.cna{
    background-color: #43b72a;
    margin-top: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
}
.fblogo img{
    width: 300px;
    margin-top: 150px;
    margin-left: 200px;
}
.fblogo p{
    font-family: "Segoe UI";
    margin-left: 230px;
    font-size: 30px;
    font-weight: 500;
}
.fbpage{
    /* margin: 900px; */
    width: 470px;
    position: relative;
    color:black;
    font-family: 'Segoe UI';
    margin-left: 890px;
    margin-top: 170px;
    font-size: 12px;

}
.fbpage h3 a{
    color: rgb(0, 0, 0);
    font-weight: 900;
}
.fbpage h3{
    font-weight: 100;
}